html {
    font-size: 16px;
}

#calc-container {
    width: 600px;
    height: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "display display display display"
                         "clear clear undo divide"
                         "seven eight nine multiply"
                         "four five six subtract"
                         "one two three add"
                         "zero zero decimal equal";
}

#display {
    grid-area: display;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(238, 236, 236);
    border: 1px solid grey;
    border-radius: 1px;
}

#display > p {
    font-size: 3rem;
}

#clear {
    grid-area: clear;
}

#undo {
    grid-area: undo;
}

button {
    font-size: 2rem;
}

button[value="/"] {
    grid-area: divide;
}

button[value="*"] {
    grid-area: multiply;
}

button[value="-"] {
    grid-area: subtract;
}

button[value="+"] {
    grid-area: add;
}

button[value="0"] {
    grid-area: zero;
}

button[value="1"] {
    grid-area: one;
}

button[value="2"] {
    grid-area: two;
}

button[value="3"] {
    grid-area: three;
}

button[value="4"] {
    grid-area: four;
}

button[value="5"] {
    grid-area: five;
}

button[value="6"] {
    grid-area: six;
}

button[value="7"] {
    grid-area: seven;
}

button[value="8"] {
    grid-area: eight;
}

button[value="9"] {
    grid-area: nine;
}

#decimal {
    grid-area: decimal;
}

#equal {
    grid-area: equal;
}